<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head(title)" lang="en">
<meta charset="UTF-8" />
<title th:text="${title}">Otsikko</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/style.css}" />


</head>

<body>


	<nav th:fragment="header"
		class="navbar navbar-expand-lg navbar-light bg-light">

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" href="#">TWEETTER</a></li>
				<li class="nav-item"><a class="nav-link" href="#">HOME</a></li>
				<li class="nav-item"><a class="nav-link" href="#">LOGOUT</a></li>
			</ul>
			<form method="POST" th:action="@{/accounts/search}"
				class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="text" name="searchString"
					placeholder="Search users by name" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>
	</nav>



	<div th:fragment="posttweet">
		<div>
			<span>Add a new tweet</span>
			<form method="POST" th:action="@{/tweets/new}">
				<input type="text" name="tweetText"> <input type="submit"
					value="Tweet" />
			</form>
		</div>
	</div>


	<div th:fragment="tweetlist(tweets)">
		<div th:each="tweet: ${tweets}">
			<div th:replace="fragments/layout :: tweet(tweet=${tweet})"></div>
		</div>
	</div>

	<div th:each="tweet: ${tweets}">
		<div th:replace="fragments/layout :: tweet(tweet=${tweet})"></div>
	</div>



	<div th:fragment="tweet(tweet)">
		<div class="container">

			<div class="row  py-2">
				<div class="col-2">

					<div th:if="${tweet.poster.profileImage == null}">
						<img width="60" height="60" src="/images/default-profile.jpg"
							class="rounded-circle">
					</div>
					<div th:if="${tweet.poster.profileImage != null}">
						<img width="60" height="60"
							th:src="@{/image/{id}(id=${tweet.poster.profileImage.id})}"
							class="rounded-circle">
					</div>



				</div>
				<div class="col-10">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<a
									th:href="@{/accounts/{username}(username=${tweet.poster.username})}">
									<span th:text="${tweet.poster.username}"> un </span>
								</a>
							</div>
						</div>
						<div class="row">
							<div class="col-8">
								<div class="row">
									<div class="col-12">
										<span th:text="${tweet.text}"> text </span>
									</div>
								</div>
								<div class="row">
									<div class="col-12">
										<p>
											comments <span th:text="${tweet.comments.size()}">
												text </span>
										</p>
										<div th:each="comment: ${tweet.comments}">
											<span th:text="${comment.poster.username}"> text </span> <span
												th:text="${comment.text}"> text </span>
										</div>



									</div>
								</div>
							</div>
							<div class="col-4">
								<button type="button" class="btn btn-primary btn-sm">
									Like <span th:text="${tweet.likes.size()}"> likes </span>
								</button>
							</div>
						</div>
					</div>

				</div>


			</div>

		</div>
	</div>

	</div>






	<div th:fragment="following">
		<span> I am following: <span th:text=${account.follows.size()}></span>
			<ol>
				<li th:each="foo : ${account.follows}"><span
					th:text="${foo.followed.username}"> username</span>
			</ol>
		</span>
	</div>

	<div th:fragment="followers">
		<span> Are following me: <span
			th:text=${account.followers.size()}></span>

			<ol>
				<li th:each="fuu : ${account.followers}"><span
					th:text="${fuu.follower.username}"> username</span>
			</ol>
		</span>
	</div>

	<div th:fragment="blokked">Blocked users</div>

	<div th:fragment="gallery(account)">
		<h4>
			Image gallery (<span th:text=${account.images.size()}> size of
				gallery</span> images)
		</h4>

		<div>
			<div th:each="image: ${account.images}">
				<a
					th:href="@{/accounts/{username}/images/{id}(username=${account.username}, id=${image.id})}">

					<img th:src="@{/image/{id}(id=${image.id})}"
					class="img-thumbnail float-left" width="100" />
				</a>
			</div>
		</div>

		<br /> <br />
		<br /> 

		<div
			th:if="${#authentication.getPrincipal().getUsername() == account.username}">
			<h4>Post a new picture</h4>
			<form method="POST" th:action="@{/image}"
				enctype="multipart/form-data">
				<input type="file" name="file" id="file" /> <span>Add
					caption to image</span> <input type="text" name="caption"> <input
					type="submit" value="Upload image" />
			</form>

		</div>
	</div>



	<div th:fragment="tweetcomments(tweet)">

		<div th:each="comment: ${tweet.comments}">

			<div class="container">

				<div class="row">
					<div class="col-2">
						<span th:text="${comment.poster.username}"> un </span>
					</div>
					<div class="col-10">
						<div class="row">
							<a
								th:href="@{/accounts/{username}(username=${comment.poster.username})}">
								<span th:text="${comment.poster.username}"> un </span>
							</a>
						</div>
						<div class="row">
							<span th:text="${comment.text}"> text </span>
						</div>

					</div>
				</div>
			</div>

		</div>

	</div>



	<div th:fragment="commentform(media, type)">
		<form method="POST" th:action="@{/{type}/comment(type=${type})}">
			<input type="hidden" name="id" th:value="${media.id}"> <input
				type="text" name="commentText"> <input type="submit"
				value="Comment" />
		</form>
	</div>


	<div th:fragment="likeform(media, type)">
		<form method="POST" th:action="@{/{type}/like(type=${type})}">
			<input type="hidden" name="id" th:value="${media.id}"> <input
				type="submit" value="Like" />
		</form>
	</div>





</body>
</html>
