<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Accounts</title>
</head>
<body>

	<h1>Hello Accounts</h1>

	<ol>
		<li th:each="account : ${accounts}"><span> <a
				th:href="@{/accounts/{username}(username=${account.username})}">
					<span th:text="${account.username}"> un </span>
			</a>
		</span>

			<ol>
				<li th:each="tweet : ${account.tweets}"><span
					th:text="${tweet.text}">msg</span></li>
			</ol></li>
	</ol>

	<form method="POST" th:action="@{/accounts}">
		<input type="text" name="username" /> <input type="password"
			name="password" /> <input type="submit" value="Add new account!" />
	</form>


</body>
</html>
