<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>All Accounts</title>
</head>
<body>

	<h1>Hello Accounts</h1>

	<ol>
		<li th:each="account : ${accounts}"><span> <a
				th:href="@{/accounts/{username}(username=${account.username})}">
					<span th:text="${account.username}"> un </span>
			</a>

				<form method="POST" th:action="@{/accounts/follow}">
					<input type="hidden" name="followUsername" th:value="${account.username}">
					<input type="submit" value="Follow" />
				</form>

		</span>

			<ol>
				<li th:each="tweet : ${account.tweets}"><span
					th:text="${tweet.text}">msg</span> <span>
						<form method="POST" th:action="@{/tweets/like}">
							<input type="hidden" name="tweetId" th:value="${tweet.id}">
							<input type="submit" value="Like" />
						</form>
						<form method="POST" th:action="@{/tweets/comment}">
							<input type="hidden" name="tweetId" th:value="${tweet.id}">
							<input type="text" name="commentText"> <input
								type="submit" value="Comment" />
						</form>
				</span></li>
			</ol></li>
	</ol>



	<form method="POST" th:action="@{/accounts}">
		<input type="text" name="username" /> <input type="password"
			name="password" /> <input type="submit" value="Add new account!" />
	</form>


</body>
</html>
