<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head(title=${account.username})"
	lang="en">
<meta charset="UTF-8" />
<title>Account page</title>
</head>
<body>

	<div class="container">

		<div class="container">
			<div class="row">
				<div class="col-12">
					<nav th:replace="fragments/layout :: header"></nav>
				</div>
			</div>

			<div class="row">
				<div class="col-8">

					<h1>
						Pictures of <span th:text=${account.name}></span>
					</h1>

					<div>
						<img th:src="@{/image/{id}(id=${image.id})}" class="img-fluid" />
						<p th:text=${image.caption}></p>
					</div>

					<!-- 
					<span th:text=${account.username}></span> <span
						th:text=${image.account.username}></span> <span
						th:text="${#authentication.getPrincipal().getUsername()}"></span>
 -->
					<div
						th:if="${#authentication.getPrincipal().getUsername() == image.account.username}">
						<form method="POST" th:action="@{/image/setprofile}">
							<input type="hidden" name="id" th:value="${image.id}"> <input
								type="submit" value="Set as profile image" />
						</form>

						<form th:method="delete" th:action="@{/image}">
							<input type="hidden" name="id" th:value="${image.id}"> <input
								type="submit" value="Delete Image" />
						</form>
					</div>



					<p>
						<span th:text=${image.comments.size()}> comments</span> comments
					</p>
					<p>
						<span th:text=${image.likes.size()}> likes</span> likes
					</p>

					<div
						th:replace="fragments/layout :: likeform(media=${image}, type='image')"></div>



					<p>Comments:</p>
					<div th:replace="fragments/layout :: tweetcomments(tweet=${image})"></div>
					<div
						th:replace="fragments/layout :: commentform(media=${image}, type='image')"></div>


				</div>
				<div class="col-4">
					<p>ACCOUNTS STUFF</p>
					<div th:replace="fragments/layout :: following"></div>
					<div th:replace="fragments/layout :: followers"></div>
					<div th:replace="fragments/layout :: gallery(account=${account})"></div>
				</div>
			</div>
		</div>

	</div>

</body>
</html>
