<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head(title='Tweetter')" lang="en">
<meta charset="UTF-8" />
<title>Tweetter</title>
</head>
<body>

	<div class="container">

		<div class="row">
			<div class="col">
				<h1>Welcome to Tweetter</h1>
			</div>
		</div>
		<div class="row">
			<p>I dont look like mutch, but i work OK :) Have fun:</p>
		</div>

		<div class="row">
			<a href="/login"> Login </a>
		</div>
		<div class="row">
			<a href="/accounts"> Create a account </a>
		</div>
</body>
</html>
