<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head(title='My Wall')" lang="en">
<meta charset="UTF-8" />
<title>My Wall</title>
</head>
<body>

	<div class="container">

		<div class="container">
			<div class="row">
				<div class="col-12">
					<nav th:replace="fragments/layout :: header"></nav>
				</div>
			</div>

			<div class="row">
				<div class="col-8">

					<h1>Search results</h1>
					<p>Mind your uppercases ;) </p>

					<div th:each="account : ${accounts}">
						<div>
							<a
								th:href="@{/accounts/{username}(username=${account.username})}">
								<span th:text="${account.username}"> un </span>
							</a> <span th:text="${account.name}"> username</span>
						</div>
					</div>
					
					




				</div>
				<div class="col-4"></div>
			</div>
		</div>

	</div>

</body>
</html>
